:root {
    --quorange: #FF3E01;
    --qumagenta: #E41B52;
    --qured: #D90A35;
    --qublack: #454545;
}

*{
    font-family: "Roboto";
}

a, a:hover, a:visited, a:active {
    color: inherit;
    text-decoration: none;
   }

h1 {
    color: var(--quorange);
}

h2 {
    color: var(--quorange);
}

.container {
    display: flexbox;
    text-align: center;
}

.navbar {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    background-image: linear-gradient(to right bottom, var(--qumagenta), var(--qured), var(--quorange)) !important;
    font-size: 1rem;
    margin-left: -10px;
    margin-right: -20px;
    margin-top: -10px;
    justify-content: space-between;
    position: fixed;
    width: 100%;
}



.navleft {
    float: left;
}

.navleft h2{
    color: #ffffff;
    font-size: 2rem;
    padding-left: 2rem;
    font-weight: 500;
}

.navright{
    display: inline-flex;
    flex-direction: row;
    font-size: .9rem;
    margin-top: 1.5rem;
    margin-right: 1.5rem;
    color: #ffffff;
}

.navright h3 {
    margin-left: 1rem;
    font-weight: 400;
    font-size: 1rem;
}

.navright li {
    list-style-type: none;
    display: inline-block;
    flex-direction: row;    
}

.hamburger {
    display: none;
    cursor: pointer;
}

.bar {
    display: block;
    width: 30px;
    height: 3.6px;
    margin-top: 6px;
    margin-bottom: 6px;
    background-color: #ffffff;
}

@media screen and (max-width: 700px){
    .hamburger {
        display: block;
        margin-top: 1.8rem;
        margin-right: 2rem;
    }
    .navright {
        position: fixed;
        left: -100%;
        top: 60px;
        flex-direction: column;
        flex-wrap: wrap;
        background-image: linear-gradient(to right top, var(--qumagenta), var(--qured), var(--quorange)) !important;
        width: 100%;
        margin-left: 0px;
        margin-right: 0px;
        padding-left: 0px;
        padding-right: 0px;
        text-align: center;
    }

    .navright.active {
        left: 0;
    }

    .navmenu {
        text-align: center;
    }
    .navright h3{
        font-size: 20px;
    }
}

.sticky {
    position: fixed;
    top: 0;
    width: 100%;
}

#welcome-page {
    padding-top: 6rem;
    padding-left: 3rem;
    padding-right: 3rem;
    justify-content: center;
    text-align: left;
    max-width: 800px;
}

#welcome-page h1 {
    font-size: 2rem;
    font-weight: 400;
    margin-bottom: 0px;
    padding-bottom: 0px;
    color: var(--quorange);
    text-align: start;
}

#welcome-page h2 {
    font-size: 4rem;
    font-weight: 300;
    color: #454545;
    margin-top: .5rem;
    text-align: start;
}

@media only screen and (max-width: 800px)  {
    #welcomepage {
        justify-content: center;
        text-align: center;
        margin: 2rem;
        padding: 2rem;
    }

    #welcomepage h2 {
        font-size: 2rem;
    }
}

.statsbox {
    font-weight: 600;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    padding-top: 0rem;
    margin-top: 0rem;
    padding-left: 2rem;
    padding-right: 2rem;
    align-items: center;
    max-width: 1440px;
    margin: auto;
    padding-bottom: 3rem;
}

.stat {
    max-width: 384px;
    align-items: center;
}

.stat h3{
    color: #FF3E01;
    font-size: 81px;
    font-weight: bold;
    text-align: center;
    padding-bottom: 0px;
    margin-bottom: 0px;
}

.stat p {
    color: #454545;
    font-size: 20px;
    font-weight: 400;
    margin-top: 0rem;
    padding-top: 0rem;
    text-align: center;
}

@media only screen and (max-width: 1300px)  {
    .statsbox {
        justify-content: center;
    }
}


#ourwork {
    justify-content: flex-start;
    margin-left: auto;
    margin-right: auto;
    padding-left: 1rem;
    padding-right: 1rem;
    font-size: 1.5rem;
    max-width: 1440px;
}

#ourwork p {
    color: #454545;
    font-size: 1.5rem;
}
@media only screen and (max-width: 800px){
    #theproblem p {
        font-size: large;
    }
    #ourwork p {
        font-size: large;
    }
    
}
.workbox {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    max-width: 1440px;
    margin-left: auto;
    margin-right: auto;
    padding-left: 1rem;
    padding-right: 1rem;
    justify-content: space-between
}

@media only screen and (max-width: 1150px){
    .workbox {
        justify-content: center;
    }
    
}
.work {
    margin: 1rem;
    max-width: 500px;
    min-width: 300px;
    min-height: 280px;
    max-height: 380px;
    color: #ffffff;
    background-image: url("qubox.png");
    background-size: 100%;
    border-radius: 25px;
    padding-left: 8px;
    padding-right: 8px;
    padding-bottom: 10px;
}

.work h3 {
    font-weight: bold;
    font-size: 32px;
    text-align: center;
    padding-top: 0px;
    padding-left: 20px;
    padding-right: 20px;
}

.work p {
    font-weight: 400;
    font-size: 24px;
    padding-left: 20px;
    padding-right: 20px;
}

.footer {
    background-image: url("qufooter.png");
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin-top: 3rem;
    margin-left: -1rem;
    margin-right: -1rem;
    margin-bottom: -2rem;
    padding-bottom: 1rem;
    background-size: cover;
}

.footericon {
    color: #ffffff;
    padding-left: 2rem;
}

.footericon h2 {
    color: #ffffff;
    font-size: 2rem;
    padding-bottom: 0rem;
    margin-bottom: .5rem;
}

.footericon h3 {
    color: #ffffff;
    font-weight: 400;
    margin-top: 0rem;
    padding-top: 0rem;
}

.footersocial {
    margin-top: 1rem;
    padding-top: 1rem;
}