:root {
    --edwhite: #F0EEEF;
    --edpurple: #460753;
    --edblack: #18021C;
}

* {
    margin: 0;
    padding: 0;
    background-color: var(--edwhite);
}

.instrument-serif-regular {
  font-family: "Instrument Serif", serif;
  font-weight: 400;
  font-style: normal;
}

.instrument-serif-regular-italic {
  font-family: "Instrument Serif", serif;
  font-weight: 800;
  font-style: italic;
}


h1 {
    font-family: 'Instrument Sans', sans-serif;
    color: var(--edblack);
    font-weight: 500;
    font-size: 64px;
}

h2 {
    font-family: 'Instrument Serif', serif;
    font-weight: 400;
    color: var(--edpurple);
    font-size: 64px;
}

h3 {
    font-weight: 400;
    color: var(--edpurple);
    font-size: 36px;
}

p {
    font-family: 'Instrument Sans', sans-serif;
    font-weight: 400;
    color: var(--quwhite);
    font-size: 20px;
}

.herocontainer {
    min-height: 100vh;
    background-color: var(--edwhite);
    display: flex;
    justify-content: center;
    align-items: center;
    width: clamp(300px, 80%, 1100px);
    padding: 20px;
    margin-left: auto;
    margin-right: auto;
}

.herotext {
    justify-content: start;
    width: clamp(300px, 80%, 700px);
    margin-right: auto;
}

.herotext h2 {
    color: var(--edpurple);
    font-size: 36px;
}

.container {
    min-height: 100vh;
    background-color: var(--quwhite);
    justify-content: center;
    margin-left: auto;
    margin-right: auto;
    margin: 0;
}

.header {
    padding: 50px;
    justify-content: center;
    margin-left: auto;
    margin-right: auto;
    width: clamp(300px, 80%, 1100px);
}

.button {
    background-color: var(--edpurple);
    border: none;
    border-radius: 20px;
    padding: 12px;
    width: 150px;
    cursor: pointer;
    text-decoration: none;
    display: inline-block;
    margin-top: 20px;
}

.button h3 {
    background-color: var(--edpurple);
    color: var(--edwhite);
    text-decoration: none;
    font-size: 24px;
    text-align: center;
    font-family: instrument-sans, sans-serif;
}

.workbox {
    display: inline-flexbox;
    flex-direction: row;
    justify-content: center;
    margin-left: auto;
    margin-right: auto;
    padding-top: 36px;
    padding-bottom: 36px;
    width: clamp(300px, 80%, 1100px);
}

.work {
    min-height: 420px;
    max-width: 300px;
    background-color: var(--qulightblue);
    display: inline-flex;
    padding-bottom: 20px;
    flex-direction: column;
    align-items: start;
    gap: 16px;
    flex-shrink: 0;
    border-radius: 24px;
    margin: 20px;

}

.work img {
    object-fit: cover;
    max-width: 300px;
    border-radius: 24px 24px 0px 0px;
}

.worktext {
    padding-left: 20px;
    padding-right: 20px;
}

.about {
    display: flex;
    flex-direction: row;
    justify-content: start;
    width: clamp(300px, 80%, 1100px);
    padding: 20px;
    margin-left: auto;
    margin-right: auto;
}

.about h3 {
    font-family: 'instrument serif', serif;
}

.about-image img {
    max-width: 400px;
    margin-right: 40px;
    aspect-ratio: 6/7;
    object-fit: cover;
}

.body {
    width: clamp(300px, 80%, 1100px);
    margin-left: auto;
    margin-right: auto;
}

.body p {
    color: var(--edblack);
    font-size: 24px;
}

.body ul {
    padding-left: 40px;
    padding-top: 12px;
    padding-bottom: 12px;
    max-width: 800px;
}

.body li {
    color: var(--edblack);
    font-size: 18px;
    font-family: 'instrument sans', sans-serif;
}

.fellows {
    padding: 20px;
    width: clamp(300px, 80%, 1000px);
    margin-left: auto;
    margin-right: auto;
}

.fellows h2 {
    margin-bottom: 30px;
}

.fellowship-container {
    display: flex;
    align-items: flex-start;
    align-content: flex-start;
    gap: 60px;
    flex-wrap: wrap;
}

.fellows h3 {
    color: var(--edblack);
    font-family: "Instrument Sans", sans-serif;
    font-size: 24px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    margin-top: 12px;
}

.fellows h4 {
    color: #460753;
    font-family: "Instrument Sans", sans-serif;
    font-size: 24px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    font-variation-settings: "wdth" 80;
}


@media screen and (max-width: 700px) {
    .herocontainer {
        padding-left: 20px;
        padding-right: 20px;
        width: auto;
        min-height: 100vh;
    }

    h1 {
        font-size: 48px;
    }

    h2 {
        font-size: 40px;
    }

    .workbox {
        padding-top: 24px;
        padding-left: 10px;
        padding-right: 10px;
        flex-direction: column;
    }

    .work {
        max-width: 280px;
    }

    .work img {
        max-width: 280px;
    }

    .header {
        padding: 20px;
        width: auto;
    }

    .about {
        flex-direction: column;
        align-items: center;
        text-align: start;
    }

    .about-text {
        margin-top: 20px;
    }

    .fellowship-container {
        flex-direction: none;
        justify-content: space-evenly;
    }
}